<ion-view view-title="我的" hide-tabs="true">

	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/shoptj.css" />
	<style type="text/css">
		/*404页面*/
		
		.icon1abc {
			margin-top: 35%;
			width: 50%;
			position: absolute;
			left: 50%;
			margin-left: -25%;
		}
		
		.icon1abc>img {
			width: 100%;
		}
		
		.icon2abc {
			margin-top: 5rem;
			width: 60%;
			position: absolute;
			left: 50%;
			margin-left: -30%;
		}
		
		.icon2abc>img {
			width: 100%;
		}
	</style>
	<div class="header1">

		<a ng-click="latepages()" class="returnpages2"><i class="ion-ios-arrow-left"></i></a>
		<span>加载失败</span>
	</div>
	<ion-content>

		<div class="icon1abc">
			<img src="img/404icon.png" />
			<a class="icon2abc" href="#/tab/home">
				<img src="img/404icon2.png" />

			</a>

		</div>

	</ion-content>

	<script src="js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	</script>
</ion-view>