<ion-view hide-tabs="true">
	<style type="text/css">
		.flash {
			margin: 0;
			padding: 0;
		}
		
		.flash img {
			width: 100%;
			/*height: 100%;*/
		}		
		.flash .icon {
			color: orange;
		}
	</style>
	<ion-content class="flash">
		<ion-slide-box>
			<ion-slide>
				<div>
					<img src="img/flash1.jpg" alt="" />
				</div>
			</ion-slide>
			<ion-slide>
				<div>
					<img src="img/flash2.jpg" alt="" />
				</div>
			</ion-slide>
			<ion-slide on-slide-changed="slideHasChanged(index)">
				<div>
					<a href="#/tab/home"><img src="img/flash3.jpg" alt="" /></a>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>