<ion-view view-title="分类">
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" href="css/sort.css" />
	<ion-header-bar class="classify_bar">

		<div class="nearfood1">
			<h1>delicous美食</h1>
		</div>

	</ion-header-bar>
	<style type="text/css">
		#nearallpa2 {
			display: none;
		}
	</style>

	<ion-content>
		<div id="nearallpa2">

			<div id="main">

				<!--正文-->
				<div class="list0">
					<a id="list_1" class="on">午餐</a>
					<a id="list_2">晚餐</a>
					<a id="list_3">下午茶</a>
				</div>
				<div id="box">
					<!--page1-->
					<div id="page1">
						<div class="banner">
							<img src="img/sortImages/sor_1.png" alt="" />
							<div class="cover" style="display: none;"></div>
							<div class="word" style="display: none;">
								<h3>delicous</h3>
								<h2>美食速选攻略</h2>
								<p>找到你的专属美味</p>
							</div>
						</div>
						<div id="content">
							<!--第一层-->
							<div class="floor clearfloat">
								<div class="long">
									<img src="img/sortImages/sor_3.png" alt="" />
									<div class="shade"></div>
									<a href="#/tab/homedetail/fl1" class="introduce">
										<h3>双人披萨套餐</h3>
										<p>意大利风格的手抛面团</p>
									</a>
								</div>
								<div class="short">
									<img src="img/sortImages/sor_4.png" alt="" />
									<a href="#/tab/homedetail/fl2" class="describe">
										<h3>意大利餐厅双人餐</h3>
										<p>每一盘的用心让你沐浴</p>
									</a>
								</div>
							</div>
							<!--第二层-->
							<div class="floor clearfloat">
								<div class="short">
									<img src="img/sortImages/sor_5.png" alt="" />
									<a href="#/tab/homedetail/fl3" class="describe">
										<h3>雨花2.0双人餐</h3>
										<p>8年西餐老店的“反传统”</p>
									</a>
								</div>
								<div class="long">
									<img src="img/sortImages/sor_6.png" alt="" />
									<div class="shade"></div>
									<a href="#/tab/homedetail/fl4" class="introduce">
										<h3>3KM生活馆双人餐</h3>
										<p>梦幻开启你的味蕾</p>

									</a>
								</div>
							</div>
							<!--第三层-->
							<div class="floor clearfloat">
								<div class="long">
									<img src="img/sortImages/sor_7.png" alt="" />
									<div class="shade"></div>
									<a href="#/tab/homedetail/fl5" class="introduce">
										<h3>章鱼来了双人餐</h3>
										<p>多种口味韩式酱料腌制</p>

									</a>
								</div>
								<div class="short">
									<img src="img/sortImages/sor_8.png" alt="" />
									<a href="#/tab/homedetail/fl6" class="describe">
										<h3>环球烤肉中心</h3>
										<p>无肉不欢 是一种新潮</p>
									</a>
								</div>
							</div>
						</div>
						<div class="delicious">
							<span>Delicious</span>
						</div>
					</div>
					<!--page2-->
					<div id="page2">
						<div class="banner">
							<img src="img/sortImages/din_7.jpg" alt="" />
							<div class="cover" style="display: none;"></div>
							<div class="word" style="display: none;">
								<h3>delicous</h3>
								<h2>食尽美味品出家珍</h2>
								<p>挡不住的诱惑</p>
							</div>
						</div>
						<div id="content">
							<!--第一层-->
							<div class="floor clearfloat">
								<div class="short">
									<img src="img/sortImages/din_2.jpeg" alt="" />
									<a href="#/tab/homedetail/fl8" class="describe">
										<h3>滋补海鲜面双人餐</h3>
										<p>高丽参鸡面和日式安康鱼面</p>
									</a>
								</div>
								<div class="long">
									<img src="img/sortImages/din_1.jpeg" alt="" />
									<div class="shade"></div>
									<a href="#/tab/homedetail/fl7" class="introduce">
										<h3>牛板腱单人晚餐</h3>
										<p>体验纯正「shabushabu」滋味</p>
									</a>
								</div>
							</div>
							<!--第二层-->
							<div class="floor clearfloat">
								<div class="long">
									<img src="img/sortImages/din_4.jpeg" alt="" />
									<div class="shade"></div>
									<a href="#/tab/homedetail/fl10" class="introduce">
										<h3>山茶云南菜火锅双人餐</h3>
										<p>来自大理的滋补暖锅</p>

									</a>
								</div>
								<div class="short">
									<img src="img/sortImages/din_3.jpeg" alt="" />
									<a href="#/tab/homedetail/fl9" class="describe">
										<h3>双人海鲜面套餐</h3>
										<p>国内人气韩餐品牌 </p>
									</a>
								</div>
							</div>
							<!--第三层-->
							<div class="floor clearfloat">
								<div class="short">
									<img src="img/sortImages/din_6.jpeg" alt="" />
									<a href="#/tab/homedetail/fl12" class="describe">
										<h3>炙热童年经典荟萃双人餐</h3>
										<p>吃到老北京的童年味道 </p>
									</a>
								</div>
								<div class="long">
									<img src="img/sortImages/din_5.jpeg" alt="" />
									<div class="shade"></div>
									<a href="#/tab/homedetail/fl11" class="introduce">
										<h3>鲜美鳗鱼饭定食</h3>
										<p>桥场居酒屋定制</p>

									</a>
								</div>
							</div>
						</div>
						<div class="delicious">
							<span>Delicious</span>
						</div>
					</div>
					<!--page3-->
					<div id="page3">
						<div class="banner">
							<img src="img/sortImages/tea_7.jpg" alt="" />
							<div class="cover" style="display: none;"></div>
							<div class="word" style="display: none;">
								<h3>delicous</h3>
								<h2>停下脚步享受惬意</h2>
								<p>生活快节奏</p>
							</div>
						</div>
						<div id="content">
							<!--第一层-->
							<div class="floor clearfloat">
								<div class="long">
									<img src="img/sortImages/tea_1.jpeg" alt="" />
									<div class="shade"></div>
									<a href="#/tab/homedetail/fl13" class="introduce">
										<h3>nuage 庆云楼双人下午茶</h3>
										<p>在什刹海畔享受别致美景</p>
									</a>
								</div>
								<div class="short">
									<img src="img/sortImages/tea_2.jpeg" alt="" />
									<a href="#/tab/homedetail/fl14" class="describe">
										<h3>丽思卡尔顿双人下午茶</h3>
										<p>来自五星酒店的超值惬意</p>
									</a>
								</div>
							</div>
							<!--第二层-->
							<div class="floor clearfloat">
								<div class="short">
									<img src="img/sortImages/tea_3.jpeg" alt="" />
									<a href="#/tab/homedetail/fl15" class="describe">
										<h3>单向空间精品阅读下午茶</h3>
										<p>在读书时享受下午茶 独享77折</p>
									</a>
								</div>
								<div class="long">
									<img src="img/sortImages/tea_4.jpeg" alt="" />
									<div class="shade"></div>
									<a href="#/tab/homedetail/fl16" class="introduce">
										<h3>一碗靓汤4份装套票</h3>
										<p>像广东人一样讲究地喝汤</p>

									</a>
								</div>
							</div>
							<!--第三层-->
							<div class="floor clearfloat">
								<div class="long">
									<img src="img/sortImages/tea_5.jpeg" alt="" />
									<div class="shade"></div>
									<a href="#/tab/homedetail/fl17" class="introduce">
										<h3>云迹普洱双人精品下午茶</h3>
										<p>珍稀古树普洱冲泡而出</p>

									</a>
								</div>
								<div class="short">
									<img src="img/sortImages/tea_6.jpg" alt="" />
									<a href="#/tab/homedetail/fl18" class="describe">
										<h3>健壹景园宫廷双人下午茶</h3>
										<p>世外桃源尊享午后时光</p>
									</a>
								</div>
							</div>
						</div>
						<div class="delicious">
							<span>Delicious</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/sort.js" type="text/javascript" charset="utf-8"></script>

	</ion-content>

</ion-view>