<style type="text/css">
	.btna1{
		width: 40%;
		height: 100%;
		
		font-size: 1.2rem;
		color: #fff;
		display: block;
		text-align: center;
		font-weight: bold;
		line-height: 3.4rem;
	}
	
	.aggcar{
		background-color:#000 ;
	}
	.aggcar:active{
		background-color:#3f3e3e;
	}
	.qgshop{
		background-color: #d6222b;
	}
	.qgshop:active{
		background-color: #fe2f2f;
	}
	.car{
		width: 20%;
		
		
	}
	.car:active{
		background-color: #ffd0d0;
		
		
	}
	.car img{
		width: 2rem;
		display: block;
		margin: 7.5px auto;

		
		
	}
	.carbottom .tabs{
		border:none;
    background-image:none !important;
    padding: 0;
    border-top: 1px solid #ddd !important;
    
	}
	
</style>
<div class="carbottom">
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">

	<ion-tab href="#/tab2/homedetail">
		
		<ion-nav-view name="shop-gouwu">
			
		</ion-nav-view>
		
	</ion-tab>




	
	
	
	

</ion-tabs>

</div>