<style type="text/css">
	.me_all111>div{
		float: left;
		width: 33%;
	}
</style>
<div class="me_all111 clearfloat" style="text-align: center;">
	<div ng-click="showConfirm()" style="width: 50%;">
		<ul>
			<li>
				<a><img src="img/meImages/me_zx.png" alt="" /></a>
			</li>
			<li>
				<a style="text-decoration: none;">在线客服</a>
			</li>
		</ul>
	</div>
	<div style="width: 50%;">
		<ul>
			<li>
				<a href="tel:15670596160"><img src="img/meImages/me_bd.png" alt="" /></a>
			</li>
			<li>
				<a style="text-decoration: none;" href="tel:15670596160">拨打电话</a>				
			</li>
		</ul>
	</div>
	
</div>