<ion-view view-title="关于晒网">
	<link rel="stylesheet" type="text/css" href="css/personCss/setCss/setcom.css"/>
	<link rel="stylesheet" type="text/css" href="css/personCss/setCss/about.css"/>
	<ion-header-bar align-title="left" class="bar-positive">
		<a href="#/tab/set"><i class="ion-ios-arrow-left"></i></a>
		<h1 class="title">关于晒网</h1>
		<i class="ion-ios-more-outline"></i>
	</ion-header-bar>
	<ion-content>
	<ion-list id="aboutList">
	     <ion-item class="item-remove-animate item-avatar item-icon-right" 
	      	ng-repeat="about in abouts" type="item-text-wrap" 
	      	href="#/tab/{{about.id}}">
	        <h2>{{about.name}}</h2> 
	        <i class="icon ion-chevron-right icon-accessory"></i>
	      </ion-item>
	    </ion-list>
	</ion-content>
</ion-view>