<ion-view view-title="我的" hide-tabs="true">

	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/halloween.css" />

	<div class="header2">

		<a href="#/tab/home" class="returnpages3"><i class="ion-ios-arrow-left"></i></a>
		<span>发现美味</span>
	</div>
	<ion-content>
			
			

		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/find.css" />

		<div id="main">

			<div class="banner">
				<!-- start 轮播图-->
				<ion-slide-box auto-play="true" show-pager="true" does-continue="true" slide-interval='2000' delegate-handle="slideimgs">
					<ion-slide>
						<div class="box banner"><img src="img/findImg/fin_1.png" alt="" /></div>
					</ion-slide>
					<ion-slide>
						<div class="box banner">
							<img src="img/findImg/find11.jpg" alt="" />
						</div>
					</ion-slide>
					<ion-slide>
						<div class="box banner">
							<img src="img/findImg/find22.jpg" alt="" />
						</div>
					</ion-slide>
				</ion-slide-box>
				
				
				
				
				
				
				
				
				
			</div>
			<div class="restaurant clearfloat">
				<a></a>
				<span>轻食客健康餐厅</span>
				<a></a>
			</div>
			<div class="article">
				<h3>亮点</h3>
				<p>专业营养师驻店 为你打造健康菜单</p>
				<p>海归名厨助理 更多创新菜品</p>
				<p>多种沙拉与果昔 delicious 独享72折</p>
				<div class="heart">
					<span>68元/份</span>
					<a href=""> 
						<img src="img/findImg/fin_4.png" alt="" /> 
					</a>
				</div>	
				<a href="#/tab/homedetail/shop1">ENJOY NOW</a>
			</div>
		</div>


			
			
			
			
			

	</ion-content>
</ion-view>