<ion-view view-title="我的" hide-tabs="true">

	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/halloween.css" />

	<div class="header2">

		<a href="#/tab/home" class="returnpages3"><i class="ion-ios-arrow-left"></i></a>
		<span>万圣节特供</span>
	</div>
	<ion-content>
				<ion-refresher refreshing-icon="ion-android-checkmark-circle" pulling-icon="ion-load-a" pulling-text="刷新中" refreshing-text="刷新成功" on-refresh="doRefresh()"></ion-refresher>

		<body>
			<div id="main">
				<!--正文-->
				<div class="banner">
					<img src="img/halloweenImages/hal_2.png" alt="" />
				</div>
				<div id="content">
					<h2>万圣节自助晚餐</h2>
					<p>每年的10月31日，是西方传统的“鬼节”—万圣节前 夜。不过，这一天的气氛却远不像它的名字那样让人 听上去就“毛骨悚然”您可以带着您的味蕾来一次奇妙的美食之旅。</p>
					<!--第一部分内容-->
					<div class="img">
						<img src="img/halloweenImages/hal_3.png" alt="" />
					</div>
					<h2>新湖铂尔曼大酒店晚餐</h2>
					<p>无锡新湖铂尔曼酒店准备了主题自助晚餐， 幽灵面具、惊悚稻草人，怪异南瓜灯等 万圣饰品将整个餐厅被浓浓的万圣节气氛所包围，主厨们精心制作了“毛骨悚然”的万圣节主题菜品，让您品尝“恐怖”美味，现场更有制作南瓜灯赢大奖活动</p>
					<p class="money">538元/2位<span>￥520</span></p>
					<a href="#/tab/homedetail/fl24">查看详情</a>
					<!--第二部分内容-->
					<div class="img">
						<img src="img/halloweenImages/hal_4.png" alt="" />
					</div>
					<h2>翰文大酒店海鲜自助晚餐</h2>
					<p>翰文大酒店准备了主题自助晚餐， 幽灵面具、惊悚稻草人，怪异南瓜灯等 万圣饰品将整个餐厅被浓浓的万圣节气氛所包围，主厨们精心制作了“毛骨悚然”的万圣节主题菜品，让您品尝“恐怖”美味，现场更有制作南瓜灯赢大奖活动</p>
					<p class="money">438元/2位<span>￥568</span></p>
					<a href="#/tab/homedetail/fl25">查看详情</a>
				</div>
			</div>

			<div class="footer2">

				<img src="img/detailimg/iconsp.png" alt="" />

			</div>

			<script src="js/halloween.js" type="text/javascript" charset="utf-8"></script>

	</ion-content>
</ion-view>