<ion-view view-title="首页">
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/public.css" />
	<ion-header-bar align-title="left" class="bar-positive">
		<div id="public" class="clearfloat">
			<a href="#/tab/home" class="returnpages2"><i class="ion-ios-arrow-left"></i></a>
			<ul class="clearfloat">
				<li ng-click="lunch()" class="lunch">
					<a>中餐</a>
				</li>
				<li ng-click="dinner()" class="dinner">
					<a class="bottom_border">西餐</a>
				</li>
			</ul>
		</div>
	</ion-header-bar>
	<ion-content class="padding" on-swipe="approve()">
		<div id="lunch">
			<div>
				<div id="carousel">
					<ul>
						<li class="naozhewan1">
							<a href="">
								<!--第14个-->
								<img src="img/publicImages/public_51.jpg" />
								<p>Q Mex Bar & Grill 双人餐</p>
								<p>芝士龙虾仔（伊面底）海白虾...<span><i class="icon ion-ios-location-outline"></i>郑州市高新区</span></p>
							</a>
						</li>
						<li class="naozhewan2">
							<a href="">
								<!--第七个-->
								<img src="img/publicImages/public_21.png" />
								<p>童年De味道</p>
								<p>糕点拼盘 秘拌豆皮黄瓜...<span><i class="icon ion-ios-location-outline"></i>郑州市二七区</span></p>
							</a>
						</li>
						<li class="naozhewan3">
							<a href="">
								<!--第十八个-->
								<img src="img/publicImages/public_61.png" />
								<p>LA YUN 经典</p>
								<p>炭烤鸡排加奶油蘑菇汁 谷饲...<span><i class="icon ion-ios-location-outline"></i>郑州市高新区</span></p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="like">
				<p><span>231</span>人喜欢吃</p>
			</div>
			<div id="approve">
				<ul class="clearfloat">
					<li>
						<a class="next" ng-click="approve()"><img src="img/publicImages/sun_1.png" alt="" /></a>
					</li>
					<li>
						<a class="prew" ng-click="prew()"><img src="img/publicImages/sun_2.png" alt="" /></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="dinner">
			<div>
				<div id="carousel">
					<ul>
						<li class="naozhewan1">
							<a href="">
								<!--第二个-->
								<img src="img/publicImages/public_41.png" />
								<p>BLT 美式休闲西餐厅</p>
								<p>戛纳顶级鱼子酱海鲜拼盘...<span><i class="icon ion-ios-location-outline"></i>郑州市高新区</span></p>
							</a>
						</li>
						<li class="naozhewan2">
							<a href="">
								<!--第九个-->
								<img src="img/publicImages/public_11.png" />
								<p>格调火锅店</p>
								<p>前菜，配菜盘，甜品...<span><i class="icon ion-ios-location-outline"></i>郑州市二七区</span></p>
							</a>
						</li>
						<li class="naozhewan3">
							<a href="">
								<!--第十三个-->
								<img src="img/publicImages/public_31.png" />
								<p>「高丽参鸡面」两款任选</p>
								<p>招牌海鲜面 宽面，鲜虾...<span><i class="icon ion-ios-location-outline"></i>郑州市高新区</span></p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="like">
				<p><span>231</span>人喜欢吃</p>
			</div>
			<div id="approve">
				<ul class="clearfloat">
					<li>
						<a class="next" ng-click="approve()"><img src="img/publicImages/sun_1.png" alt="" /></a>
					</li>
					<li>
						<a class="prew" ng-click="prew()"><img src="img/publicImages/sun_2.png" alt="" /></a>
					</li>
				</ul>
			</div>
		</div>

	</ion-content>
</ion-view>