<ion-view view-title="我的" hide-tabs="true">
	<link rel="stylesheet" type="text/css" href="css/pjall.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css" />

	<div class="header1">

		<a href="#/tab/homedetail/{{userpage}}" class="returnpages2"><i class="ion-ios-arrow-left"></i></a>
		<span>评价</span>
	</div>
	<ion-content>
		<ion-refresher refreshing-icon="ion-android-checkmark-circle" pulling-icon="ion-load-a" pulling-text="刷新中" refreshing-text="刷新成功" on-refresh="doRefresh()"></ion-refresher>
		<!---->
		<div class="allpj2">全部</div>

		<div class="pjall1">
			<div class="detail7_1 clearfloat">
				<img src="img/detailimg/avaicon.png" alt="" />
				<div class="detail7_1_1">
					<h3>最爱草莓车厘子</h3>
					<span>10-21</span>
				</div>
				<div class="detail7_1_2">
					<h2>位置挺好找的，价格实惠，交通便利。</h2>
					<span>消费评价 - 思诺牛排自助餐厅（黄浦店)</span>
				</div>

			</div>

		</div>
		<div class="pjall1">
			<div class="detail7_1 clearfloat">
				<img src="img/detailimg/avaicon.png" alt="" />
				<div class="detail7_1_1">
					<h3>最爱草莓车厘子</h3>
					<span>10-21</span>

				</div>
				<div class="detail7_1_2">
					<h2>位置挺好找的，价格实惠，交通便利。</h2>
					<span>消费评价 - 思诺牛排自助餐厅（黄浦店)</span>
				</div>

			</div>

		</div>
		<div class="pjall1">
			<div class="detail7_1 clearfloat">
				<img src="img/detailimg/avaicon.png" alt="" />
				<div class="detail7_1_1">
					<h3>最爱草莓车厘子</h3>
					<span>10-21</span>

				</div>
				<div class="detail7_1_2">
					<h2>位置挺好找的，价格实惠，交通便利。</h2>
					<span>消费评价 - 思诺牛排自助餐厅（黄浦店)</span>
				</div>

			</div>

		</div>
		<div class="pjall1">
			<div class="detail7_1 clearfloat">
				<img src="img/detailimg/avaicon.png" alt="" />
				<div class="detail7_1_1">
					<h3>最爱草莓车厘子</h3>
					<span>10-21</span>

				</div>
				<div class="detail7_1_2">
					<h2>位置挺好找的，价格实惠，交通便利。</h2>
					<span>消费评价 - 思诺牛排自助餐厅（黄浦店)</span>
				</div>

			</div>

		</div>
		<div class="pjall1">
			<div class="detail7_1 clearfloat">
				<img src="img/detailimg/avaicon.png" alt="" />
				<div class="detail7_1_1">
					<h3>最爱草莓车厘子</h3>
					<span>10-21</span>

				</div>
				<div class="detail7_1_2">
					<h2>位置挺好找的，价格实惠，交通便利。</h2>
					<span>消费评价 - 思诺牛排自助餐厅（黄浦店)</span>
				</div>

			</div>

		</div>
		<div class="pjall1">
			<div class="detail7_1 clearfloat">
				<img src="img/detailimg/avaicon.png" alt="" />
				<div class="detail7_1_1">
					<h3>最爱草莓车厘子</h3>
					<span>10-21</span>

				</div>
				<div class="detail7_1_2">
					<h2>位置挺好找的，价格实惠，交通便利。</h2>
					<span>消费评价 - 思诺牛排自助餐厅（黄浦店)</span>
				</div>

			</div>

		</div>
		<div class="pjall1">
			<div class="detail7_1 clearfloat">
				<img src="img/detailimg/avaicon.png" alt="" />
				<div class="detail7_1_1">
					<h3>最爱草莓车厘子</h3>
					<span>10-21</span>

				</div>
				<div class="detail7_1_2">
					<h2>位置挺好找的，价格实惠，交通便利。</h2>
					<span>消费评价 - 思诺牛排自助餐厅（黄浦店)</span>
				</div>

			</div>

		</div>
		<div class="pjall1">
			<div class="detail7_1 clearfloat">
				<img src="img/detailimg/avaicon.png" alt="" />
				<div class="detail7_1_1">
					<h3>最爱草莓车厘子</h3>
					<span>10-21</span>

				</div>
				<div class="detail7_1_2">
					<h2>位置挺好找的，价格实惠，交通便利。</h2>
					<span>消费评价 - 思诺牛排自助餐厅（黄浦店)</span>
				</div>

			</div>

		</div>

	</ion-content>

	<ion-footer-bar>

		<a class="car" href="">

			<img src="img/detailimg/shopcar.png" alt="" />
		</a>
		<a class="btna1 aggcar">
			加入购物车
		</a>
		<a class="btna1 qgshop">
			立即抢购
		</a>

	</ion-footer-bar>
</ion-view>