<ion-view view-title="我的" hide-tabs="true">
	<ion-content>
		<link rel="stylesheet" type="text/css" href="css/pjall.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<div class="header1">

			<a href="#/tab/homedetail/{{userpage}}" class="returnpages2"><i class="ion-ios-arrow-left"></i></a>
			<span>套餐详情</span>
		</div>
		<style type="text/css">
			.divp {
				padding: 2rem;
			}
			
			.divp p {
				font-size: 1.2rem;
				line-height: 2rem;
				text-indent: 2rem;
			}
		</style>

		<div class="divp">

			<p>本店是以经营香辣干锅、新涮锅为主的连锁企业，提供时尚、美味、创新、品味的中高端餐饮服务，演绎牛蛙爱上虾的饮食文化传奇，并以美味的饭菜口感，优质的服务品质，低廉的饭菜价格展现经典干锅牛蛙爱上虾喜庆欢愉的红色基调，简约整洁的装饰风格，明亮的灯光让人心情愉悦，享受像家中的自在。地道的川式风味虾煲，让您享受煲式火锅的精髓。饮食文化，给人无限的味觉享受。</p>
			<p>每一位来到土大力的顾客，都会带给你宛如家人般的温暖。在您享受独特美味的同时，提供给您贴心的服务，为您营造快乐休闲的就餐环境。</p>

		</div>

	</ion-content>

	<ion-footer-bar>

		<a class="car" href="">

			<img src="img/detailimg/shopcar.png" alt="" />
		</a>
		<a class="btna1 aggcar">
			加入购物车
		</a>
		<a class="btna1 qgshop">
			立即抢购
		</a>

	</ion-footer-bar>
</ion-view>