<ion-view hide-tabs="true">
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	
	<style type="text/css">
		.cq {
			width: 88%;
			margin: 0 auto;
		}
		
		.cq p {
			color: #666666;
			font-size: 1rem;
		}
		
		.cq li {
			margin-top: 3rem;
		}
		
		.lj {
			border-top: none;
		}
		
		#set_back {
			color: white;
			font-size: 1.3rem;
			line-height: 2.2rem;
		}
		#alltop2{
			width: 100%;
			
			height: 2rem;
		}
		
	</style>


	<div class="header2">

		<a href="#/tab/me" class="returnpages3"><i class="ion-ios-arrow-left"></i></a>
		<span>美味券</span>
	</div>

	<ion-content>
		<div id="alltop2">

		</div>
		<div class="list">
			<div class="cq">
				<ul>
					<li>
						<p>传说中的美味券中的一种</p><img src="img/meImages/cq2.jpg" alt="" /></li>
				</ul>
			</div>
			<ul>
				<li class="item item-icon-right lj">
					<p>礼券简介</p>
					<div class="hide0">
						<p>&nbsp;&nbsp;礼券包括:全场券、品牌券、在线支付券、免费<br />&nbsp;&nbsp;券等。设有消费限额，下单时满足使用条件会即<br />&nbsp;&nbsp;可抵扣商品金额，免邮券可抵扣运费</p>
					</div>

				</li>
				<li class="item item-icon-right">
					<p>使用规则</p>
					<div class="hide1">
						<p>1.在指定的店铺内使用。</p>
						<p>2.美味券不可叠加使用,仅限一个门店的一笔订单。</p>
						<p>3.美味券仅限于抵扣在线支付的订单金额。</p>
						<p>4.美味券不可提现，不可转赠他人。</p>
					</div>

				</li>
				<li class="item item-icon-right">
					<p>获取途径</p>
					<div class="hide2">
						<p>1.在活动商家的店铺承接页，会场，互动玩法等<br />&nbsp;&nbsp;&nbsp;渠道发放美味券，届时买家可自行领取。</p>
						<p>2.会员账号等级不同将有不同的领取数量限制。</p>
					</div>

				</li>
				<li class="item item-icon-right">
					<p>激活方式</p>
					<div class="hide3">
						<p>1.在规定期限内的活动餐品付款时可抵用。</p>
						<p>2.预售商品在付款阶段使用美味券抵扣现金。</p>
					</div>

				</li>
				<li class="item item-icon-right">
					<p>退回规则</p>
					<div class="hide4">
						<p>1.订单发生退款时，有效期内的美味券会退回。</p>

						<p>2.美味券超出原有有效期的优惠券不会退回。</p>
					</div>

				</li>
			</ul>

		</div>
	</ion-content>
</ion-view>