
<ion-view hide-tabs="true">
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	
	<style type="text/css">
		h4 {
			text-align: center;
		}
		
		.protocal_text {
			width: 95%;
			margin: 0 auto;
		}
		
		.protocal_content {
			background: #f0f0f2;
		}
		
		
		#set_back {
			color: white;
			font-size: 1.3rem;
			line-height: 2rem;
		}
		
		.header2>span {
			display: block;
			width: 180px;
			color: #fff;
			font-size: 1.4rem;
			line-height: 50px;
			position: absolute;
			left: 50%;
			margin-left: -85px;
		}
		.box_outall{
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	</style>

	<div class="header2">

		<a href="#/tab/me" class="returnpages3"><i class="ion-ios-arrow-left"></i></a>
		<span>deliceus用户协议</span>
	</div>

	<ion-content class="protocal_content">
		<div id="alltop">

		</div>
		<div class="box_outall">

			<h4>《用户协议》</h4>
			<div class="protocal_text" style="padding: 0px;">

				<p>【注意】DELICEUS 有责任提醒您，请仔细阅读以下全部内容。如果您不同意本协议的任一或全部条款内容，请不要以确认的形式（包括但不限于：勾选、点击）选择“同意接受”或使用本协议项下服务。当您确认接受本协议或开始使用本协议项下的服务时，即表示用户与DELICOUS已达成协议关系，并自愿接受并遵守DELICOUS 服务的所有服务协议及相关之子协议、管理规范等。我们可能会不定期修改「用户协议」内容，并会在客户端上更新此份「用户协议」。因此，建议您每次浏览此份「用户协议」，并确认您同意并接受上述声明。</p>
				<p>DELICEUS 客户端将不定期更新应用程序。针对部分促销或满减折扣、多件包邮等优惠功能与其它服务内容，仅适用于最新版本的 DELICEUS &nbsp;应用程序，旧版本应用程序将无法支持并提供上述服务与功能。建议您及时查看下载并保持更新，以确保能获得更好的用户体验。 我们会尽力将DELICOUS 客户端上的信息更新，以符合现行服务的一切做法，但请不要假设 DELICEUS 客户端上的一切信息都是最新的，或是DELICOUS &nbsp;客户端登载的一切对外发布讯息都处于最新版本的状态。</p>
				<p><span style="background-color: transparent;">－账户安全提示－</span><br></p>
				<p>互联网账号存在被盗风险。为了保障您的账号及资金安全，请务必妥善并审慎保管您的移动设备及个人账号。DELICEUS &nbsp;强烈建议您对所持有的移动设备，进行非简易密码或指纹验证的设置，最大化程度来确保您的个人信息与消费安全。</p>
				<p>一、用户注册</p>
				<p>1.1、注册资格</p>
				<p>用户承诺：用户具有完全民事权利能力和行为能力或虽不具有完全民事权利能力和行为能力但经其法定代理人同意并由其法定代理人代理注册及应用 DELICEUS 服务。</p>
				<p>1.2、注册目的</p>
				<p>用户承诺：用户进行用户注册并非出于违反法律法规或破坏DELICOUS &nbsp;网络在线交易秩序的目的。</p>
				<p>1.3、注册流程</p>
				<p>用户同意根据 DELICEUS &nbsp;用户注册页面的要求提供有效电子邮箱、所在城市等信息，设置 ENJOY 账号及密码，用户应确保所提供全部信息的真实性、完整性和准确性。用户合法、完整并有效提供注册所需信息的，有权获得DELICOUS &nbsp;账号并自行设定密码，DELICEUS 账号和密码用于用户在 DELICEUS 进行会员登录。用户获得 DELICEUS &nbsp;账号及密码时视为用户注册成功，用户同意接收 DELICEUS &nbsp;发送的与DELICOUS &nbsp;网站管理、运营相关的电子邮件和/或短消息。</p>
				<p>二、用户服务</p>
				<p>DELICEUS &nbsp;为用户通过DELICOUS &nbsp;进行网络在线交易活动提供网络交易平台服务，目前 DELICEUS &nbsp;对用户提供的 DELICEUS &nbsp;网络交易平台服务为免费服务，但DELICOUS &nbsp;保留未来对 DELICEUS &nbsp;网络交易平台服务收取服务费用的权利。</p>
				<p>2.1、服务内容</p>
				<p>用户有权在DELICOUS &nbsp;浏览我们提供的商品/服务的信息、有权通过 DELICEUS &nbsp;与商家达成消费订单、支付消费价款、获得消费码（如有）等。用户有权在 DELICEUS &nbsp;查看其 DELICEUS 会员账号下的信息，有权应用DELICOUS &nbsp;提供的功能进行操作。用户有权按照 DELICEUS &nbsp;发布的活动规则参与 DELICEUS &nbsp;组织的活动及DELICOUS &nbsp;承诺为用户提供的其他服务。</p>
				<p>2.2、服务规则</p>
				<p>用户承诺遵守下列 DELICEUS &nbsp;服务规则：</p>
				<p>2.2.1、用户应当遵守法律法规、规章、规范性文件及政策要求的规定，不得在 DELICEUS &nbsp;或利用 DELICEUS &nbsp;服务从事非法或其他损害 DELICEUS 或第三方权益的活动，如发送或接收任何违法、违规、违反公序良俗、侵犯他人权益的信息，发送或接收传销材料或存在其他危害的信息或言论，未经DELICOUS &nbsp;授权使用或伪造 DELICEUS 电子邮件题头信息等。</p>
				<p>2.2.2、用户应当遵守法律法规应当谨慎合理使用和妥善保管 DELICEUS &nbsp;账号及密码，对其 DELICEUS 账号和密码下进行的行为和发生的事件负责。当用户发现 ENJOY 账号被未经其授权的第三方使用或存在其他账号安全问题时应立即有效通知 DELICEUS &nbsp;，要求 DELICEUS &nbsp;暂停该 DELICEUS &nbsp;账号的服务，并向公安机关报案。 ENJOY 有权在合理时间内对用户的该等请求采取行动，但对采取行动前用户已经遭受的损失不承担任何责任。</p>
				<p>2.2.3、用户在未经 DELICEUS &nbsp;同意的情况下不得将 DELICEUS &nbsp;账号以赠与、借用、租用、转让或其他方式处分给他人。</p>
				<p>2.2.4、用户通过DELICOUS 与商家进行在线交易时，应当遵守本协议“在线交易规则”的全部约定及DELICOUS &nbsp;发布的其他关于在线交易的服务条款和操作规则的全部规定。</p>
				<p>2.2.5、用户在 DELICEUS &nbsp;对商品/服务进行评价时应当根据实际情况如实进行评价。</p>
				<p>2.2.6、用户应当按照 DELICEUS &nbsp;发布的规则参加 DELICEUS 抽奖等活动，遵守活动秩序以及DELICOUS 发布的其他服务条款和操作规则。</p>
				<p>2.2.7、部分市场营销活动只对特定人士开放参与。同一用户仅限参与或领取、使用奖品（包括但不限于所发放之礼券、礼品卡、消费点数、实体或虚拟奖品）一次。相同的手机号、设备号、支付账户、姓名、收货地址等多个信息内容一致或接近的，将视同为“同一用户”。</p>
				<p>2.2.8、在上述市场营销活动或会员消费内，如参与、获取或使用过程中，出现违规行为（包括但不限于作弊领取、套现、虚假交易、套取礼券、贩售或转售礼券或礼品卡、贩售或转售交易消费码等情形）， DELICEUS 将取消您的获取或使用资格，并有权撤销违规交易，收回奖品（含已使用及未使用的）并终止您的会员资格。必要时将依据《中华人民共和国民法通则》第九十二条及第一百一十七条，追究法律责任；或依据司法《解释》规定，向相关主管机构举报其非法套现的行为。</p>
				<p>2.2.9、上述“套现”的定义为：同一第三方支付渠道账号（包括但不限于支付宝、微信支付、银联在线支付、Apple Pay 等）或同一支付账号（包括但不限于信用/贷记卡、借记卡、支票、礼券等）累计或超过为5位以上（包含5位） DELICEUS 注册用户账号支付消费款项；“套取礼券”的定义为：同一 DELICEUS 册用户账号虚假邀请其它非真实 DELICEUS 注册用户账号，经查证其任一邀请注册用户账号之手机号、设备号、IP 位置等信息，存在虚假、无法辨认、重复、非真实有效等情况者，超过5位以上（包含5位）。</p>
				<p>三、在线交易规则</p>
				<p>用户承诺在其进入 DELICEUS 消费，通过DELICOUS &nbsp;与商家进行在线交易的过程中良好遵守如下规则：</p>
				<p>3.1、浏览信息 用户在 ENJOY 浏览商品/服务的消费信息时，应当仔细阅读消费信息中包含的全部内容，包括但不限于商品/服务的名称、种类、数量、质量、价格、有效期、预约时间、商家地址、营业时间、配送方式、退换货方式、退款条件、售后服务等内容，其中用户应特别注意商品/服务的有效期、预约时间及退款条件等内容，用户完全接受消费信息中包含的全部内容后方可点击购买。</p>
				<p>3.2、提交及确认订单 用户应当仔细阅读消费订单页面中所包含的全部内容，包括但不限于消费信息中的全部内容、为再次提示用户注意而标明的本单商品/服务的有效期、退款条件等内容（如有），选择及确认购买数量、价格、应付总额、用户接收消费码的联系方式或接收货物的收货地址和送货时间等内容。</p>
				<p>3.3、前述消费订单页面中所包含的全部内容，构成了用户与商家之间达成的消费合同的合同内容，用户完全同意消费订单的全部内容后方可提交订单。用户再次阅读并确认消费订单的全部内容后方可点击确认订单并付款，用户确认订单即视为用户已知晓、同意并接受消费订单中的全部内容。消费订单中所包含的全部内容即为消费合同的内容，具体包括但不限于商品/服务的名称、种类、数量、质量、价格、有效期、预约时间、商家地址、营业时间、配送方式、退换货方式、退款条件、售后服务等，用户与商家均应当按照前述消费合同的约定履行各自的权利义务。</p>
				<p><br></p>
			</div>
		</div>
	</ion-content>
</ion-view>