<ion-view hide-tabs="true">
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	
	<style type="text/css">
		#set_back {
			color: white;
			font-size: 1.3rem;
			line-height: 2rem;
		}
		/*背景是黑色图层*/
		
		.ab_bg {
			width: 100%;
			/*background: url(img/meImages/m_bg.jpg) repeat;*/
		}
		
		div.about_us2 {
			width: 100%;
			height: 10rem;
			background: url(img/meImages/ab_bg.jpg) no-repeat;
			background-size: cover;
		}
		
		div.about_us2>img {
			margin: 8% 0 0 30%;
		}
		
		div.about_article {
			width: 90%;
			margin: 0 auto;
		}
		
		div.about_article h4.ab_title {
			line-height: 5rem;
			font-size: 1.5rem;
			text-align: center;
			color: #595959;
		}
		
		div.about_article p {
			line-height: 2rem;
			color: #797979;
			font-size: 1rem;
			text-indent: 2rem;
		}
		
		.xhx {
			display: block;
			width: 40%;
			position: relative;
			left: 30%;
			bottom: 1rem;
			border-bottom: 2px solid #EB652C;
		}
		/*透明图层*/
		
		.bggd {
			width: 100%;
			height: 15rem;
			background: url(img/meImages/bg3.jpg) no-repeat;
			background-size: cover;
		}
		
		.bggd>div {
			width: 90%;
			margin: 0 auto;
		}
		
		.bggd>div>div>img {
			width: 3rem;
			height: 2rem;
			margin: 4% 45%;
		}
		
		.bggd>div>div>h3 {
			color: #FFF;
			font-family: 'Rouge Script', cursive, Arial, sans-serif;
			text-align: center;
			font-size: 2rem;
			line-height: 2.5rem;
		}
		
		.bggd>div>div>p {
			color: #FFF;
			line-height: 3rem;
			font-size: 1.5rem;
			text-align: center;
		}
		
		div.team_mates h1 {
			line-height: 5rem;
			font-size: 1.5rem;
			text-align: center;
			color: #595959;
		}
		/*团队成员*/
		
		.team_mates {
			width: 90%;
			margin: 0 auto;
		}
		
		.team_mates>div {
			width: 100%;
		}
		
		.team_mates>div>div {
			float: left;
			width: 50%;
			margin: 0 auto;
		}
		
		.team_mates li {
			text-align: center;
			font-size: 1rem;
			color: #595959;
			line-height: 2rem;
		}
		
		.team_mates li:last-child {
			color: #797979;
		}
		
		.team_mates li img {
			height: 5rem;
		}
		
		.all_footer {
			width: 70%;
			margin: 0 auto;
			text-align: center;
		}
		
		.all_footer img {
			width: 80%;
			margin: 2rem auto;
		}
	</style>

	<div class="header2">

		<a href="#/tab/set" class="returnpages3"><i class="ion-ios-arrow-left"></i></a>
		<span>关于我们</span>
	</div>

	<ion-content class="ab_bg">
		<div id="alltop">

		</div>
		<div class="about_us2"><img src="img/meImages/ab_logo.png" alt="" /></div>
		<div class="about_article">

			<div>
				<h4 class="ab_title">我们是郑州‘攻城狮’团队</h4>
				<b class="xhx"></b>
				<p>郑州‘攻城狮’团队于2014年5月21日盛装开业!维护性强的代码架构和紧跟时代步伐的更新体制，全面高端、个性化的配套设施，最新流行H5新特性， 全方位的凸显网站产品内容，彰显细节，带给即将进入网站浏览商品的顾客以流畅、强烈的感官体验· 河南科技学院团队由数位行业内认真工作、 功底扎实团队携手为您度身定做网站模板，完美记录您的'网业'。“细致，诚恳的服务态度;活跃，激昂的创新意识;苛刻，刁钻的审美角度。 ”将会指导着原创网页不断的累积及沉淀。秉承“以服务为本，顾客至上”的理念，坚持优化配置原则，打造用户体验最好网页。
				</p>
				<br />
				<p>从接待、制作到后期维护，每一个环节都精雕细琢;抛弃一切浮夸骄作而执着于每件作品;用心服务和您一起管理您的'网业'; 坚持不懈推陈出新，让您网站的独特一直持续。</p>
				<br />
				<p>“您的满意是我们的终极追求”是郑州‘攻城狮’团队秉承的经营理念，后期跟踪式的服务，创新元素居多的设计走向，总能抓住众人兴致的目光，打造属于顾客独有的风格及迷人风采! 郑州‘攻城狮’团队采用的硬件设施，凌驾工作室的个性服务，这一切，您在郑州‘攻城狮’团队都能实现，我们凭借着自身敏锐的触觉以及市场网页更新设计的趋势，一定会成为郑州个人网页制作工作室更专业化， 高端化的网页制作品牌。
				</p>
				<br /><br /><br />
			</div>

		</div>

		<div class="bggd">
			<div>
				<div><img src="img/meImages/heart.png" /></div>
				<div>
					<h3>“Better to have designed and dreamed”</h3></div>
				<div>
					<p>~ ZHENGZHOU OF HE NAN ~</p>
				</div>
			</div>
		</div>
		<div class="team_mates">
			<h1>郑州‘攻城狮’团队成员</h1>
			<b class="xhx"></b>
			<div class="clearfloat">
				<div>
					<ul>
						<li class="engineer engineer1">
							<img src="img/meImages/a1.jpg" alt="" />
						</li>
						<li>李鹏辉</li>
						<li>web前端工程师</li>
					</ul>
				</div>
				<div>

					<ul>
						<li class="engineer engineer2">
							<img src="img/meImages/a2.jpg" alt="" />
						</li>
						<li>张培荣</li>
						<li>web前端工程师</li>
					</ul>
				</div>
			</div>
			<div class="clearfloat">
				<div>
					<ul>
						<li class="engineer engineer3">
							<img src="img/meImages/a3.jpg" alt="" />
						</li>
						<li>康恒</li>
						<li>web前端工程师</li>
					</ul>
				</div>
				<div>
					<ul>
						<li class="engineer engineer4">
							<img src="img/meImages/a4.jpg" alt="" />
						</li>
						<li>张春雷</li>
						<li>web前端工程师</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="all_footer"><img src="img/meImages/all_tm.png" alt="" /></div>
	</ion-content>
</ion-view>