<ion-view hide-tabs="true">
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	
	<style type="text/css">
		#set_back {
			color: white;
			font-size: 1.3rem;
			line-height: 2rem;
		}
		
		.co_list {
			margin-top: 0.2rem;
		}
		/*.item{
			border: none;
		}*/
		
		#alltop {
			width: 100%;
			height: 50px;
		}
	</style>

	<div class="header2">

		<a href="#/tab/set" class="returnpages3"><i class="ion-ios-arrow-left"></i></a>
		<span>通用</span>
	</div>

	<ion-content>
		<div id="alltop">

		</div>

		<ul class="list co_list">
			<li class="item item-toggle">
				消息通知
				<label class="toggle toggle-green">
       			<input type="checkbox" checked="">
       			<div class="track">
         			<div class="handle"></div>
       			</div>
     			</label>
			</li>

			<li class="item item-toggle">
				震动反馈
				<label class="toggle toggle-green">
       			<input type="checkbox">
       			<div class="track">
         			<div class="handle"></div>
       			</div>
     			</label>
			</li>
			<li class="item item-toggle">
				开启定位
				<label class="toggle toggle-green">
       			<input type="checkbox">
       			<div class="track">
         			<div class="handle"></div>
       			</div>
     			</label>
			</li>
			<li class="item item-toggle">
				切换流程版
				<label class="toggle toggle-green">
       			<input type="checkbox">
       			<div class="track">
         			<div class="handle"></div>
       			</div>
     			</label>
			</li>
			<li class="item item-toggle">
				省电模式
				<label class="toggle toggle-green">
       			<input type="checkbox">
       			<div class="track">
         			<div class="handle"></div>
       			</div>
     			</label>
			</li>
			<li class="item item-toggle">
				截屏分享
				<label class="toggle toggle-green">
       			<input type="checkbox">
       			<div class="track">
         			<div class="handle"></div>
       			</div>
     			</label>
			</li>

		</ul>
	</ion-content>
</ion-view>