<ion-view hide-tabs="true">
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	
	<style type="text/css">
		#set_back {
			color: white;
			font-size: 1.3rem;
			line-height: 2rem;
		}
		
		h4 {
			text-align: left;
			line-height: 2rem;
		}
		
		.set_box {
			background: #f0f0f2;
		}
		
		.set_question {
			width: 95%;
			margin: 0 auto;
		}
		
		.box_outall {
			padding-left: 1rem;
			padding-right: 1rem;
			padding-bottom: 1rem;
		}
	</style>

	<div class="header2">

		<a href="#/tab/set" class="returnpages3"><i class="ion-ios-arrow-left"></i></a>
		<span>常见问题</span>
	</div>

	<ion-content class="set_box">
		<div id="alltop">

		</div>
		<div class="box_outall">

			<h4>关于注册</h4>
			<div class="protocal_text" style="padding: 0px;">
				<p>【注意】DELICEUS 有责任提醒您，请仔细阅读以下全部内容。如果您不同意本协议的任一或全部条款内容，请不要以确认的形式（包括但不限于：勾选、点击）选择“同意接受”或使用本协议项下服务。</p>
				<p>DELICEUS 客户端将不定期更新应用程序。针对部分促销或满减折扣、多件包邮等优惠功能与其它服务内容，仅适用于最新版本的 DELICEUS &nbsp;应用程序，旧版本应用程序将无法支持并提供上述服务与功能。建议您及时查看下载并保持更新，以确保能获得更好的用户体验。 我们会尽力将DELICEUS 客户端上的信息更新，以符合现行服务的一切做法，但请不要假设 DELICEUS 客户端上的一切信息都是最新的，或是DELICEUS &nbsp;客户端登载的一切对外发布讯息都处于最新版本的状态。</p>
				<p><span style="background-color: transparent;">－账户安全提示－</span><br></p>
				<p>互联网账号存在被盗风险。为了保障您的账号及资金安全，请务必妥善并审慎保管您的移动设备及个人账号。DELICEUS &nbsp;强烈建议您对所持有的移动设备，进行非简易密码或指纹验证的设置，最大化程度来确保您的个人信息与消费安全。</p>
				<p>一、用户注册</p>
				<p>1.1、注册资格</p>
				<p>用户承诺：用户具有完全民事权利能力和行为能力或虽不具有完全民事权利能力和行为能力但经其法定代理人同意并由其法定代理人代理注册及应用 DELICEUS 服务。</p>
				<p>1.2、注册目的</p>
				<p>用户承诺：用户进行用户注册并非出于违反法律法规或破坏DELICEUS &nbsp;网络在线交易秩序的目的。</p>
				<p>1.3、注册流程</p>
				<p>用户同意根据 DELICEUS &nbsp;用户注册页面的要求提供有效电子邮箱、所在城市等信息，设置 ENJOY 账号及密码，用户应确保所提供全部信息的真实性、完整性和准确性。用户合法、完整并有效提供注册所需信息的，有权获得DELICEUS &nbsp;账号并自行设定密码，DELICEUS 账号和密码用于用户在 DELICEUS 进行会员登录。用户获得 DELICEUS &nbsp;账号及密码时视为用户注册成功，用户同意接收 DELICEUS &nbsp;发送的与DELICEUS &nbsp;网站管理、运营相关的电子邮件和/或短消息。</p>

				<h4>关于售后</h4>
				<p>二、用户服务</p>
				<p>DELICEUS &nbsp;为用户通过DELICEUS &nbsp;进行网络在线交易活动提供网络交易平台服务，目前 DELICEUS &nbsp;对用户提供的 DELICEUS &nbsp;网络交易平台服务为免费服务，但DELICEUS &nbsp;保留未来对 DELICEUS &nbsp;网络交易平台服务收取服务费用的权利。</p>
				<p>2.1、服务内容</p>
				<p>用户有权在DELICEUS &nbsp;浏览我们提供的商品/服务的信息、有权通过 DELICEUS &nbsp;与商家达成消费订单、支付消费价款、获得消费码（如有）等。用户有权在 DELICEUS &nbsp;查看其 DELICEUS 会员账号下的信息，有权应用DELICEUS &nbsp;提供的功能进行操作。用户有权按照 DELICEUS &nbsp;发布的活动规则参与 DELICEUS &nbsp;组织的活动及DELICEUS &nbsp;承诺为用户提供的其他服务。</p>
				<p>2.2、服务规则</p>
				<p>用户承诺遵守下列 DELICEUS &nbsp;服务规则：</p>

			</div>

		</div>
		</div>

	</ion-content>
</ion-view>