<ion-view hide-tabs="true">
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	
	<style type="text/css">
		#set_back {
			color: white;
			font-size: 1.3rem;
			line-height: 2rem;
		}
		
		.aacgh {
			color: #333;
		}
		
		.list_outall .checkbox-stable input:checked:before,
		.list_outall .checkbox-stable input:checked+ .checkbox-icon:before {
			background: #4cd964;
			border-color: #4cd964;
		}
	
	</style>

	<div class="header2">

		<a href="#/tab/set" class="returnpages3"><i class="ion-ios-arrow-left"></i></a>
		<span>隐私设置</span>
	</div>
	<div class="list_outall">

		<ion-content>
		<div id="alltop">

		</div>
			<ion-list>
				<ion-checkbox class="checkbox-stable aacgh">通过手机号码找到我
					<p>关闭后，其他用户将不能通过手机号搜索到你，<br />你也不会出现在其他人的手机</p>
				</ion-checkbox>

				<ion-checkbox class="checkbox-stable aacgh">通过会员名搜索到我
					<p>关闭后，其他用户将不能会员名搜索到你</p>
				</ion-checkbox>

			</ion-list>

	</div>
	</ion-content>
</ion-view>