<ion-view hide-tabs="true">
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	
	<style type="text/css">
		#set_back {
			color: white;
			font-size: 1.3rem;
			line-height: 2rem;
		}
		
		.scroll {
			background: #f0f0f2;
			height: 100%;
		}
		
		.list {
			width: 95%;
			margin: 0 auto;
		}
		
		.list textarea {
			height: 15rem;
		}
		
		.button {
			width: 80%;
			margin: 10% 0 0 10%;
		}
	</style>

	<div class="header2">

		<a href="#/tab/set" class="returnpages3"><i class="ion-ios-arrow-left"></i></a>
		<span>意见反馈</span>
	</div>

	<ion-content class="s_box">
		<div id="alltop">

		</div>
		<div class="list">
			<div>
				<label class="item item-input">
			   		 <textarea placeholder="如果您在使用过程中有任何是意见和建议，问题请您告知我们，delicous在这里向您表达诚挚的感谢。请留下您的联系方式(QQ手机号),我们会有好礼相赠" class="qq"></textarea>
				</label>

			</div>
			<button class="button button-stable">
 				发送-让delicous更贴心
			</button>
		</div>

	</ion-content>
</ion-view>