<ion-view hide-tabs="true">
<link rel="stylesheet" type="text/css" href="css/indexCss/index01.css" />
	<!--头部-->
	<ion-header-bar id="header01" class="bar-header">
		<a class="icon ion-ios-arrow-left" href="#/tab/dash"></a>
		<span>1条评论</span>
	</ion-header-bar>
	<!--内容-->
	<ion-content class="padding" id="content01" ng-controller="index01Ctrl" on-swipe-right="onSwipeRight()">
		<h4><i>原创</i>关于索尼，不只有产品，还有情怀</h4>
		<p>Jerry&nbsp;&nbsp;|&nbsp;&nbsp;八成新</p>
		<p>
			关于耳机与音乐，既然在半塘发，那就不写玄学啦，我们来接地气的谈谈索尼。情怀，不止老罗有，每个品牌，都有自己的情怀和追求。 索尼这个牌子在这些年的音乐圈里，有褒有贬，有喜欢的，也有觉得这是什么玩意的，anyway, 笔者对索尼有着别样的喜欢，源于它对音乐品质的不懈追求。 从最开始的Walkman开始，索尼始终有着对音乐的独特定位，便携，易于操控，高音质，种种都在源源不断地吸引着消费者。近年来索尼推行的Hi-Res小金标，则是对音乐市场的全新定义。高于CD和无损音质，更高的采样率，更广的频段，带来了独特的声音效果。 笔者挺喜欢古典，尤其是大编制的交响乐，就像维也纳新年音乐会那种，气势恢弘。好的耳机，就是要能把这个场面还原给你，小提琴在左边，管乐器在右边，大鼓在后面，让你戴上耳机，就仿佛拥有了全世界。 再比如，一些live的音乐会现场，要能真实还原歌手的演唱，和歌迷的尖叫，让你花一张专辑的钱，就能身临其境的听一场演唱会。 然而，那么多耳机，暂且忽略不计前端的问题，有开放的有封闭的，有头戴的有入耳的，还有有线和无线，到底选哪个？如果直接说根据个人喜好，可能这个回答相当于什么都没说，但是说到底，还是要亲自去听，亲自去感受，戴上每一个不同的耳机，去感受音乐带给你的魅力。说什么高频低频，声场解析，也许听上去很玄乎，但是你带上耳机的那一刻，你就会明白你到喜欢什么样的，是beats的动次打次，还是森海塞尔的温婉清晰 等等等等。 关于索尼的耳机，记得第一个不是随机附送而是单独自己买的，就是索尼的。忘了具体的型号，只记得是在机场，买了戴上之后，仿佛全世界都安静了，只有周杰伦在我耳边歌唱。也许那时候不懂什么是烧耳机，但是我知道，那就是我想要的音乐。 回到现在，现在日常用来听歌的主要设备都是索尼的，三只耳机，一只MDR-1A，一只XBA-Z5，一只MDR-1000X，以及一台便携式耳放。下面就分别来谈谈他们的使用体验。 首先是MDR-1A
		</p>
		<img src="img/indexImages/indexImg04.jpeg" alt="" />
		<!--sellBox  01-->
		<p>
			戴上1A的第一感觉，就是，真的！好！舒！服！跟Bose家的耳机有的一拼（笔者有一个QC25，有机会以后来谈）。海绵软软的，头梁一点不夹耳，戴着很舒服，长时间佩戴也许会觉得有些闷，但毕竟在你耳朵上罩个东西，如果你想感受空灵的大自然，那么以后给你推荐一款适合你的开放式耳机。讲真1A的做工真的不错，虽然不是日本产的，但是依旧透着浓浓的日本工业风，这让作为学工程的笔者甚是喜欢。
		</p>
		<img src="img/indexImages/indexImg041.jpeg" />
		<a href="#/tab/detail/detail08" id="sellBox">
			<img class="sellImg" src="img/indexImages/indexImg042.jpeg" />
			<div>
				<p>MDR-1A 头戴式耳机</p>
				<p>八成新&nbsp;&nbsp;|&nbsp;<span></span>&nbsp;&nbsp;购买</p>
			</div>
		</a>
		<!--sellBox  02-->
		<p>下面出场的是大法在今年秋季带来的最新款无线降噪耳机，MDR-1000X 蓝牙，降噪，触摸操控，高品质音乐，索尼在这款耳机上的䦆头远不止这些。 主打降噪的这款耳机，在降噪功能上做足了功夫。三种智能模式的降噪，满足走在大街上，坐在公交上，以及飞行途中的各种降噪需求。而将右手遮在右耳罩上的Quick Attention功能，则让你分分钟体验特工的感觉，说人话，让你不需要拿掉耳机，就能自动降低音乐播放音量，同时将环境音通过内置麦克风放大到耳机里，让你戴着耳机和不带耳机都能听到一样的声音，不会漏掉重要信息，也不会错过与别人的谈话。同时，不同的环境音调节模式，保证你在过马路的时候能够听到来车的声音，很酷是不是~</p>
		<img src="img/indexImages/indexImg043.jpeg" alt="" />
		<a href="#/tab/detail/detail09" id="sellBox">
			<img class="sellImg" src="img/indexImages/indexImg044.jpeg" />
			<div>
				<p>MDR-1000X 耳机</p>
				<p>八成新&nbsp;&nbsp;|&nbsp;<span></span>&nbsp;&nbsp;购买</p>
			</div>
		</a>

		<!--评论-->
		<div id="thumb" ng-click="addThumb()">
			<i class="icon ion-thumbsup"></i>
		</div>
		<p class="center">{{thumb}}次赞</p>

		<p id="commentTitle">评论
			<span>(点击可以进行回复)</span>
			<button ng-click="showPopup()">我来说两句</button>
		</p>
		<div id="comment" ng-click="show()">
			<img src="img/indexImages/indexImg015.jpg" />
			<div>
				<p>
					Scenery如懿
				</p>
				<p>
					等我哪天有兴趣的时候整理出我的粉色套装出来。
				</p>
			</div>
		</div>
		<p id="answerOther">
			<b></b>
			<i>{{uname}}我 &nbsp; : &nbsp;{{answerContent}}</i>
		</p>
		<div id="answer">
			<img src="{{user.img}}" />
			<div>
				<p>
					{{user.uname}}
				</p>
				<p>
					{{data.wifi}}
				</p>
			</div>

		</div>

	</ion-content>

</ion-view>