
		.returnpages3 .ion-ios-arrow-left {
			color: #fff;
			font-size: 2.7rem;
			height: 50px;
			line-height: 50px;
			margin-left: 15px;
		}
		
		.header2222 {
			height: 50px;
			background-color: #000;
			width: 100%;
			position: relative;
			z-index: 100;
		}
		
		.header2222>* {
			float: left;
		}
		
		.header2222>span {
			display: block;
			width: 140px;
			color: #fff;
			font-size: 1.4rem;
			line-height: 50px;
			position: absolute;
			left: 50%;
			margin-left: -50px;
		}
		
		#alltop {
			width: 100%;
			height: 50px;
		}
		/*正文*/
		
		#ar.ar2 {
			background: #e6e6e6;
		}
		
		#chars_all {
			margin-top: 4rem;
			overflow-y: auto;
		}
		
		#chars_all div {
			margin: 0 auto;
		}
		
		.att22,
		.text99 {
			float: left;
		}
		
		.att22 {
			width: 3rem;
			height: 3rem;
			background: #fff;
			margin: 0 1rem;
			border-radius: 10px;
		}
		
		.att22 img {
			max-height: 3rem;
			max-width: 3rem;
			width: 100%;
		}
		
		.text99 {
			padding: 0.5rem;
			max-width: 70%;
			background: #fff;
			font-size: 1rem;
			border-radius: 0.5rem;
			word-break: break-all;
		}
		
		#wer {
			width: 4rem;
			height: 2.2rem;
			margin-left: 0.3rem;
			background: #D2D2D2;
			color: #fff;
			border-radius: 0.2rem;
			border: none;
			outline: none;
			font-size: 1.4rem;
		}
		
		#wer img {
			width: 34%;
			margin-bottom: -0.4rem;
		}
		
		#bt.btall input {
			width: 60%;
			border-radius: 0.5rem;
			border: none;
			outline: none;
			padding-left: 1rem;
			font-size: 1rem;
			display: inline-block;
		}
		
		.bt_out #btn33 {
			width: 20%;
			margin-left: 0.3rem;
			background: #bc0404;
			color: #fff;
			border-radius: 0.2rem;
			border: none;
			outline: none;
			font-size: 1rem;
			font-weight: bold;
		}
		
		
		.bb333 div {
			float: right;
			margin-top: 2rem;
		}
		
		.text99 span {
			line-height: 1.6rem;
			color: #666;
			font-size: 0.6rem;
			margin-left: 5px;
			margin-right: 5px;
		}
		
		
		
		.bt_out #bt {
			width: 100%;
			background: #000;
			justify-content: space-between;
		}