.all_box {
	width: 100%;
	height: 8rem;
	background: #f7f7f7;
	margin-top: 4rem;
}

.all_box2 {
	margin-top: 1rem;
}

.all_box>div {
	width: 90%;
	margin: 0 auto;
	padding: 1rem 0;
}

.all_box>div>div {
	float: left;
}

.all_box>div>div:first-child {
	width: 45%;
}

.all_box>div>div:last-child {
	width: 55%;
}

.all_box li {
	color: #333;
	line-height: 1.3rem;
}

.all_box img {
	width: 8rem;
	height: 6rem;
}

.all_box .all_number {
	display: block;
	
	font-size: 1rem;
	line-height: 2rem;
	margin-top: -10px;
}

.all_box .all_number1 {
	color: #e4652b;
}

.all_section1 {
	width: 100%;
}

.all_section1>ul {
	width: 90%;
	margin: 0 auto;
	text-align: right;
}

.all_section1 li {
	line-height: 2rem;
}

.button-large {
	min-height: 2.5rem;
	line-height: 2.5rem;
}

.button.button-assertive {
	background: #d7222b;
	border-radius: 10px;
}

.button.button-assertive a{
	color: #fff;
	font-size: 1.4rem;
}

.button {
	border-radius: 0;
}

.all_section1 li i {
	color: #e4652b;
}

.all_section1 li button {
	width: 35%;
}

.all_footer {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.all_footer img {
	width: 80%;
	margin: 2rem auto;
}

.order_detail {
	width: 95%;
	margin: 0 auto;
}

.order_detail>li {
	float: left;
	width: 23%;
	line-height: 2.5rem;
	text-align: center;
}

.order_detail a {
	font-size: 1rem;
	color: black;
}

.order_detail .order_s {
	width: 15%;
}

.bar-subheader {
	background: white;
}

.e_active a {
	color: #e4652b;
}

#set_back {
	color: white;
	line-height: 2rem;
}