/*头部*/

.returnpages2 .ion-ios-arrow-left {
	color: #fff;
	font-size: 2.7rem;
	height: 50px;
	line-height: 50px;
	margin-left: 15px;
}

.header1 {
	height: 50px;
	background-color: #000;
	width: 100%;
	position: relative;
	z-index: 100;
}

.header1>* {
	float: left;
}

.header1>span {
	display: block;
	color: #fff;
	font-size: 1.4rem;
	margin-left: 30px;
	line-height: 50px;
}

.footer_tj1 {
	height: 100%;
	color: #fff;
	width: 100%;
	background-color: #000;
	font-size: 1.4rem;
}

.footer_tj1:active {
	background-color: #444;
}

.footer_tj0 .bar {
	padding: 0;
}

.footer_tj0 .bar .title {
	margin: 0;
}

.articel2 {
	width: 100%;
	height: 100%;
	padding-top: 50px;
	background-color: #f7f7f7;
}

.footer_tj0 .bar-footer {
	border: none;
	background-color: #000;
}

.tjdan1 {
	width: 100%;
	height: 10.5rem;
	background-color: #fff;
	margin-top: 1rem;
}

.tjdan1>div {
	padding: 0 1rem;
	width: 100%;
	height: 3.5rem;
	border-top: 1px solid #f7f7f7;
}

.tjdan1_1>span {
	float: right;
	color: #000;
	font-size: 1.2rem;
	line-height: 3.5rem;
}

.tjdan_h2 {
	float: left;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
	color: #666;
	line-height: 3.5rem;
}

.tjdan1_1>span.tjdan1_1_xj {
	color: red;
}

.tj_btn {
	float: right;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 7rem;
	height: 2.3rem;
	margin-top: 0.6rem;
}

.tj_btn>div {
	float: left;
	width: 33%;
	height: 100%;
	font-size: 1.2rem;
	text-align: center;
	line-height: 2rem;
}

.tj_btn>div.tj_btn_num {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.tj_btn>div.tj_btn_add {
	font-size: 1.6rem;
	color: #237f94;
	font-weight: bold;
}

.tj_btn>div.tj_btn_jian {
	font-size: 1.4rem;
	color: #237f94;
	font-weight: bold;
}

.tjdan2 {
	width: 100%;
	height: 7rem;
	background-color: #fff;
	margin-top: 1rem;
}

.tjdan2>div {
	padding: 0 1rem;
	width: 100%;
	height: 3.5rem;
	border-top: 1px solid #f7f7f7;
}

.tjdan2 span {
	float: right;
	color: #000;
	font-size: 1.2rem;
	line-height: 3.5rem;
}

.tjdan2 span>b {
	color: #333;
	font-size: 0.7rem;
	/*line-height: 3.5rem;*/
	font-weight: 100;
}

.tjdan3 {
	width: 100%;
	height: 3.5rem;
	background-color: #fff;
	margin-top: 1rem;
	color: #000;
	padding-top: 0.35rem;
}
.tjdan3 input{
	width: 100%;
	height: 2.8rem;
	text-indent: 1rem;
	font-size: 1.4rem;
	
}










